body {overflow: visible;}
.pagenav li,
.page-id-31 #vorstaende li {display: inline !important;}
header#masthead nav ul {margin-bottom: 0;}
/*
.content .pagenav li {display: inline;}

.content .jahres-ansicht .news .news-header h3 {margin-bottom: 10px;}
.content .einzel-ansicht .newsnav ul li {display: inline;}
.content .einzel-ansicht .article-meta dl dt:first-child {padding-top: 10px;}
.content .einzel-ansicht .bilder li {display: inline;}

.content #vorstaende li {display: inline;}

.content .new-post input[type="submit"], #kontaktmoeglichkeiten input[type="submit"] {margin-top: -35px;}
.content .posts li .post-body .post-contact li {display: inline;}
.content .posts li .post-body .post-contact li a {padding: 0; background-image: none;}

.footer ul li {display: inline;}*/
