input[type="submit"]:active, input[type="reset"]:active, a.button:active {filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#660000', endColorStr='#330000');}

table.colored tr:hover {filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e5e5e5', endColorStr='#d5d5d5');}

header#masthead {filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#660000', endColorStr='#330000');}

header#masthead #searchform input[type="search"] {width: 20em;}

header#masthead nav ul li a {filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d5d5d5', endColorStr='#666666');}
header#masthead nav ul li a:hover {filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e5e5e5', endColorStr='#666666');}
header#masthead nav ul li a:active {filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c5c5c5', endColorStr='#666666');}
header#masthead nav ul li a.act {filter: none;}


input[type="submit"]:hover,
input[type="reset"]:hover,
a.button:hover,
header#masthead .searchform input[type="submit"]:hover,
footer#colophon a.button:hover,
table.colored th {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#660000', endColorStr='#330000');
}
#links li h2 {filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#660000', endColorStr='#330000');}


#secondary.widget-area .widget-title {filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#660000', endColorStr='#330000');}

/*
.content .posts .post-header {filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#660000', endColorStr='#330000');}
}*/
