body.tag article {
	border-top: 1px solid #ccc;
}
body.tag article:first-of-type() {
	border-top: 0;
}
body.tag article header.entry-header h1 a {
	font-weight: normal;
	font-size: 16px;
	text-decoration: underline;
}
body.tag article header.entry-header a.perma {
	font-weight: bold;
	font-size: small;
	color: #272;
}
body.tag article time {
	font-size: smaller;
	color: #888;
}
body.tag article.with-thumbnail img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
body.tag article.with-thumbnail + article {
	clear: both;
}