.wrapper > nav button span.hidden {display: block;}
.wrapper > nav button {background-image: none;}
.wrapper > header h1,
table.colored thead tr th,
#links li h2 {
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#660000', endColorstr='#330000');
}
.wrapper > footer {
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#330000', endColorstr='#660000');
}
/*
.wrapper > nav ul li a {
	width: 33%;
	width: calc(100% / 3);
}

.wrapper > nav ul li a {
	width:25%
}
.wrapper > footer {
	padding: 1rem 0;
}
.wrapper > footer ul li a {
	width: 50%;
}

.wrapper > footer {
	padding: 2rem 0;
}
.wrapper > footer ul li a {
	width: 25%;
}
#commentform input,
#commentform textarea {width: 80%; float: right;}
#commentform label {display: inline-block; width: 20%;}

.wrapper > nav ul li a {
	width: 14.2%;
	width: calc(100% / 7);
}

body {background-color: #600;}
.wrapper > nav > button {display: none;}
.wrapper > nav ul li a {
	width: 100%;
}
.wrapper > header > form,
.wrapper > footer,
.wrapper > .content-container {
	box-sizing: border-box;
	width: 85%;
	float: right;
	transform: none !important;
}
.wrapper > nav > .menu-hauptmenue-container {
	height: 250px;
	height: calc(100vh - 56px);
	z-index: 2;
	position: fixed;
	width: 15%;
}

body {
	background-image: url("./img/brushed-metal.jpg");
}
.wrapper {
	max-width: 1024px;
	margin: 1rem auto;
	border-radius: 1rem;
	box-shadow: 8px 8px 20px #000;
}
.wrapper > header {
	position: static;
	text-align: center;
	background: #400;
	background: -webkit-linear-gradient(top, #600 0%, #500 50%, #400 70%, #300 100%);
	background: linear-gradient(to bottom, #600 0%, #500 50%, #400 70%, #300 100%);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	padding: .5rem 0;
}
.wrapper > header::after {
	content: "";
	display: block;
	clear: both;
}
.wrapper > header > .logo,
.wrapper > header > .wappen,
.wrapper > header > h2 {display: block;}
.wrapper > header > .logo {float: left; margin: 1rem 0 0 2rem;}
.wrapper > header > .wappen {float: right; margin: 1rem 3rem 0 0;}
.wrapper > header h1 {
	background: none;
	font-size: 2rem;
	line-height: initial;
	height: auto;
	margin-top: 1rem;
	position: static;
	width: auto;
}
.wrapper > header h2 {font-variant: small-caps; margin: 0;}
.wrapper > header .searchform > button {display: none;}

.wrapper > header .searchform           fieldset,
.wrapper > header .searchform.collapsed fieldset {
	display: block;
	box-shadow: none;
	margin-top: 1.5rem;
}
.wrapper > header .searchform fieldset input {width: 15rem; border-radius: 2px;}
.wrapper > header .searchform           fieldset button,
.wrapper > header .searchform.collapsed fieldset button {
	background: none;
	display: inline-block;
	border: 0;
	padding: .5rem 1rem;
}
.wrapper > nav > .menu-hauptmenue-container {
	width: 100%;
	height: auto;
	position: static;
	overflow: hidden;
	background: #300;
	text-align: center;
}
.wrapper > nav ul li {
	display: inline-block;
	width: 12%;
}
.wrapper > nav ul li a {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #111;
	border: 0;
	padding: .2rem;
	float: none;
	background-color: #ccc;
	background: -webkit-linear-gradient(top, #CCC 0%, #BBB 50%, #999 70%, #333 100%);
	background: linear-gradient(to bottom, #CCC 0%, #BBB 50%, #999 70%, #333 100%);
}
.wrapper > nav ul li a:hover {text-decoration: none;}
.wrapper > nav ul li.current_page_item a {
	background: #fbfbfb;
	font-weight: bold;
	color: #111;
}
.wrapper > header > form,
.wrapper > footer,
.wrapper > .content-container {
	box-sizing: border-box;
	width: 100%;
	float: none;
	margin-top: 0;
}
.wrapper > footer {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}*/
