/** Patches the default navbar and footer colors to match 150 anniversary style */

::selection {
    color: var(--150-y);
    background: var(--150-r);
}

body {

    .navbar-fixed nav,
    .sidenav li:first-child {
        background-color: var(--150-r)
    }

    .nav-wrapper .current-menu-item,
    .nav-wrapper .current_page_item {
        background-color: var(--150-r-variant)
    }

    .sidenav-trigger {
        display: flex;
        gap: 1.3rem;

        &::after {
            content: "Feuerwehr Barthelmesaurach e. V.";
        }

        +a {
            display: none;
        }
    }

    &>footer.section {
        background-color: var(--150-r);
    }
}