ul.tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: 0;
}

ul.tags li {
    display: inline-block;
}

ul.tags li a {
    display: inline-block;
    font-size: small;
    padding: 0 .5rem;
    background: #eef6ff;
    border: 1px solid #cce2f9;
    border-radius: .5rem;
    color: black;
}