main.no-results {
	height: calc(100vh - 12rem);
	display: flex;
    flex-direction: column;
    justify-content: center;
}

main.results {
    overflow: hidden;
}

form {
    display: flex;
    align-items: center;
	justify-content: center;
}

form input {
	flex: 1 1 auto;
    max-width: 40rem;
}

form button {
	flex: 0 0 auto;
}