main {
	min-height: calc(100vh - 11.4rem);
}

main article header h1 + p {
	 font-style: italic;
	 font-size: medium;
}

main article header h1 + p {
    display: flex;
    align-items: flex-start;
}

main article header h1 + p time {
	cursor: help;
}

main article header h1 + p time:first-of-type {
	margin-left: .3rem;
}

main article header h1 + p time:last-of-type {
	margin-left: .5rem;
}

main article header h1 + p i.material-icons {
	font-size: 1.4rem;
}

main footer p {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    font-size: small;
    margin-bottom: 3rem;
}

main footer {
    color: #888;
}
main footer a {
    color: inherit;
}

main footer i {
    color: #888;
    vertical-align: middle;
    margin-right: .5rem;
}

.speech-synthesis-control {
	border: 1px solid #ccc;
	background: none;
	padding: 1rem;
	border-radius: 1rem;
    display: flex;
    align-items: center;
    font-size: medium;
}
.speech-synthesis-control:focus,
.speech-synthesis-control:hover {
	background: none;
	cursor: pointer;
}
.speech-synthesis-control i {
	margin-right: .6rem;
}